$themes: bases, book, cases, chess24, classic, club, condal, glass, gothic, leipzig, light, marble, maya, modern, neo, newspaper, tigers, uscf, wood, eight_bit, lolz, neo_wood;
$bgcolors: #f0134d, #ff6666, #2c786c, #004445, #333366, #015668, #4a69bb, #f65c78, #ff7315, #b52b65, #621055, #10316b, #f45905, #233714;

@function random_theme() {
  @return nth($themes, random(length($themes)));
}
@function random_color() {
  @return nth($bgcolors, random(length($bgcolors)));
}

$theme: random_theme();
$color: random_color();

#search .has-addons {
  margin-bottom: 1.25rem;
}

.area {
  display: inline-flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0;
  padding: 0 2rem;
  background-color: $color;
}

.area > .columns {
  width: 100%;
} 

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.circles li {
  display: block;
  position: absolute;
  list-style: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.circles li.white {
  top: -150px;
  animation: sink 25s linear infinite;
}

.circles li.black {
  bottom: -150px;
  animation: emerge 25s linear infinite;
}

.circles li:nth-child(1){
  left: 25%;
  width: 140px;
  height: 140px;
  background-image: url('/assets/img/chesspieces/' + $theme + '/wK.png');
  animation-delay: 5s;
}

.circles li:nth-child(2){
  left: 10%;
  width: 180px;
  height: 180px;
  background-image: url('/assets/img/chesspieces/' + $theme + '/wQ.png');
  animation-delay: 1s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 90px;
  height: 90px;
  background-image: url('/assets/img/chesspieces/' + $theme + '/wR.png');
  animation-delay: 7s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 100px;
  height: 100px;
  background-image: url('/assets/img/chesspieces/' + $theme + '/wB.png');
  animation-delay: 15s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 80px;
  height: 80px;
  background-image: url('/assets/img/chesspieces/' + $theme + '/wN.png');
  animation-delay: 11s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  background-image: url('/assets/img/chesspieces/' + $theme + '/wP.png');
  animation-delay: 12s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 140px;
  height: 140px;
  background-image: url('/assets/img/chesspieces/' + $theme + '/bK.png');
  animation-delay: 2s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 100px;
  height: 100px;
  background-image: url('/assets/img/chesspieces/' + $theme + '/bQ.png');
  animation-delay: 10s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 90px;
  height: 90px;
  background-image: url('/assets/img/chesspieces/' + $theme + '/bR.png');
  animation-delay: 6s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  background-image: url('/assets/img/chesspieces/' + $theme + '/bB.png');
  animation-delay: 3s;
  animation-duration: 11s;
}

.circles li:nth-child(11){
  left: 15%;
  width: 80px;
  height: 80px;
  background-image: url('/assets/img/chesspieces/' + $theme + '/bN.png');
  animation-delay: 8s;
  animation-duration: 11s;
}

.circles li:nth-child(12){
  left: 50%;
  width: 160px;
  height: 160px;
  background-image: url('/assets/img/chesspieces/' + $theme + '/bP.png');
  animation-delay: 4s;
  animation-duration: 11s;
}

@keyframes emerge {
  0%{
    transform: translateY(0) rotate(0deg);
  }

  100%{
    transform: translateY(-1000px) rotate(720deg);
  }
}

@keyframes sink {
  0%{
    transform: translateY(0) rotate(720deg);
  }

  100%{
    transform: translateY(1000px) rotate(0deg);
  }
}